.led{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 2em 2em 2em 2em;
  border: 1px solid lightgray;
  background-image: linear-gradient(to top right, rgb(211, 211, 211, 0.5));
}

.red {
background-image: linear-gradient(to top right, rgba(255, 50, 50, 0.5) 20%, rgba(255, 50, 50, 0.3) 60%, rgba(255, 50, 50, 0.2)) !important;
}

.green {
background-image: linear-gradient(to top right, rgba(50, 255, 50, 0.5) 20%, rgba(50, 255, 50, 0.3) 60%, rgba(50, 255, 50, 0.2)) !important;
}

.blue {
background-image: linear-gradient(to top right, rgba(50, 50, 255, 0.5) 20%, rgba(50, 50, 255, 0.3) 60%, rgba(50, 50, 255, 0.2)) !important;
}

.l0{
  background-color: #000000;
}

.l1{
  background-color: #101010;
}

.l2{
  background-color: #202020;
}

.l2-blue{
  background-color: #181828;
}

.l3{
  background-color: #303030;
}